@{
    ViewBag.Title = "Contact";
}

<div class="layout-footer">
    <div class="table" style="height:45px;">
        <div class="col-lg-12 horizontal-center vertical-middle">
        版权所有：中国程序员实验室&copy;&nbsp;&nbsp;2010&minus;@DateTime.Now.ToString("yyyy") &nbsp;&nbsp;&nbsp;&nbsp;网址：www.china.com 
        </div>
    </div>
</div>
