
@{
    Layout = "~/Views/Shared/_FrameLayout.cshtml";
    ViewBag.Title = "初始化配置 - ";
}
    <h2>初始化配置</h2>
    <hr />
<div class="container">
    <div class="row-group" style="Width:60%;margin:auto auto;border-width:1px;">
        <div class="row">
            <div class="table">
                <div class="col-xs-2">土进冰下</div>
                <div class="col-xs-8"><input /></div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="table">
                <div class="col-xs-2">土进冰下</div>
                <div class="col-xs-8"><input /></div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="table">
                <div class="col-xs-2">土进冰下</div>
                <div class="col-xs-8"><input /></div>
                <div class="col-xs-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="table">
                <div class="col-xs-2">土进冰下</div>
                <div class="col-xs-8"><input /></div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </div>
</div>